body 
{
    font-family: Arial;
    padding-right: 20px;
}

.ui-new-todo
{
    background-color: grey;
    height: 80px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -40.8px;
    margin-left: -150.8px;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.contents
{
    display:flex;
}

.close-contain
{
    background-color: lightgrey;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
}

.close
{
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right:0px;
    border-left: solid;
    border-width: 1px;
    border-color: black;
}

.close:hover
{
    background-color: rgb(194, 7, 7);
}

.x
{
    height: 15px;
    width: 15px;
}

.background
{
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.2;
}


.todo-input-grid
{
    display: grid;
    grid-template-columns: 200px 150px 100px 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid
{
    margin-bottom: 10px;
    align-items: stretch;
}

.todo-grid
{
    display: grid;
    grid-template-columns: 200px 150px 100px 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.name-input,
.due-date-input
{
    font-size: 15px;
    padding: 6px;
}

.checkBox
{
    height: 25px;
    width: 25px;
    background-color: lightgrey;
    border: solid;
    border-style:dotted;
    border-width: 1px;
}

.delete-todo-button
{
    background-color: darkred;
    color: white;
    font-size: 15px;
    cursor: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.check
{
    height: 25px;
    width: 25px;
}

.addToDoList,
.subtractList
{
    height: 40px;
    width: 40px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.add,
.subtract
{
    height: 20px;
    width: 20px;
}

.add-todo-button
{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.block
{
    display: flex;
}

.todo-block
{
    margin-right: 25px;
}

.enhanced-description-ui
{
    background-color: white;
    height: 80px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -40.8px;
    margin-left: -150.8px;
    border-radius: 10px;
    overflow: auto;
    padding: 30px;
    word-wrap: break-word;
}

.x2
{
    height: 20px;
    width: 20px;
    position: fixed;
    margin-top: -40px;
    margin-left: -40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 159, 159);
    border-radius: 100%;
}

.x2-img
{
    width: 15px;
    height: 15px;
}

.description
{
    overflow: hidden;
    cursor: pointer;
}

@media (min-height: 889.8px)/*Will apply all styles until min height is met*/
{
    .checkBox
    {
        height: 57.89473684px;
        width: 57.89473684px;
        background-color: lightgrey;
        border: solid;
        border-style:dotted;
        border-width: 1px;
    }

    .check
    {
        height: 57.89473684px;
        width: 57.89473684px;
    }

    body
    {
        font-size: 40px;
    }

    .delete-todo-button
    {
        background-color: darkred;
        color: white;
        font-size: 40px;
        cursor: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
    }

    .contents
    {
        height: 63.6px;
    }

    .todo-name
    {
        /*height: 42.4px;*/
        width: 508.8px;
        font-size: 39.9999px;
    }

    .enter-button
    {
        height: 63.6;
        width: 141.18px;
        font-size: 39.9999px;
    }

    .x
    {
        height: 45px;
        width: 45px;
    }

    .close
    {
        top: 0;
        bottom: 0;
        width: 60px;
        background-color: red;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        right:0px;
        border-left: solid;
        border-width: 1px;
        border-color: black;
    }

    .close-contain
    {
        background-color: lightgrey;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        border-bottom: solid;
        border-width: 1px;
        border-color: black;
    }

    .ui-new-todo
    {
        background-color: grey;
        height: 240px;
        width: 900px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -121.2px;
        margin-left: -451.2px;
        border: solid;
        border-width: 1px;
        border-color: black;
    }
    .todo-input-grid
    {
        display: grid;
        grid-template-columns: 300px 225px 200px 1fr;
        column-gap: 10px;
        row-gap: 10px;
        align-items: center;
    }

    .todo-input-grid
    {
        margin-bottom: 10px;
        align-items: stretch;
    }

    .todo-grid
    {
        display: grid;
        grid-template-columns: 300px 225px 200px 1fr;
        column-gap: 10px;
        row-gap: 10px;
        align-items: center;
    }

    .name-input,
    .due-date-input
    {
        font-size: 40px;
        padding: 6px;
    }

    .addToDoList,
    .subtractList
    {
        height: 61.6px;
        width: 61.6px;
        background-color: lightgrey;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }

    .addToDoList
    {
        height: 120px;
        width: 120px;
    }

    .add
    {
        height: 60px;
        width: 60px;
    }

    .subtract
    {
        width: 30.8px;
        height: 30.8px;
    }

    .add-todo-button
    {
        background-color: green;
        color: white;
        border: none;
        font-size: 40px;
        cursor: pointer;

    }

    .block
    {
        display: flex;
    }

    .todo-block
    {
        margin-right: 25px;
    }

    .enhanced-description-ui
    {
        background-color: white;
        height: 240px;
        width: 700px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -430px;
        border-radius: 30px;
        overflow: auto;
        padding: 80px;
        word-wrap: break-word;
        font-size: 39.9999px;
    }

    .x2
    {
        height: 60px;
        width: 60px;
        position: fixed;
        margin-top: -110px;
        margin-left: -110px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(159, 159, 159);
        border-radius: 100%;
    }

    .x2-img
    {
        width: 40px;
        height: 40px;
    }

    .description
    {
        overflow: hidden;
        cursor: pointer;
    }

    .block
    {
        display: flex;
        flex-direction: column;
    }
}

